@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import '/css/modern-normalize.css';
:root {
    --st-color: #2196F3;
    --sd-color: #757575;
    --wt-color: #FFF;
    --gr-color: #212121; 
    --bgs-color: #AFB1B8;
}
body {
    margin: 0, 0, 0, 0;
    padding: 0, 0, 0, 0;
    font-family: Roboto, sans-serif;
    color: var(--gr-color);


}
ul {
    list-style: none;

}

button {
    border: none;
}

h1
{
    margin: 0 0 0 0;
}

.header
{

    display: flex;
    justify-content: center;
    flex-basis: 1170px;
    height: 80px;
    
}
.about
{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-basis: 290px;
    
}
.headernav
{
    display: flex;
    align-items: center;
    flex-basis: 528px;
    
}
.headercont
{
    display: flex;
    align-items: center;
    flex-basis: 333px;
    justify-content: space-between;
}
.logo {
    text-decoration: none;
    color: #000;
    font-size: 26px;
    font-family: Raleway, sans-serif;
    font-weight: 700;
}

header .link {

    text-decoration: none;
    font-weight: 600;
    font-size: 14px;
}


header .nav {
    color: var(--gr-color);
}

main h1 {

    color: var(--wt-color);
    font-size: 44px;
    font-weight: 900;
    text-transform: uppercase;
}

.m-background {
    height: 600px;
    width: 100%;
    background-color: #2F303A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.m-background>span
{

        display: flex;
        justify-content: center;
        width: 100%;

}
.zamovutu {

    height: 50px;
    width: 200px;
    background-color: var(--st-color);
    color: var(--wt-color);
    font-size: 16px;
    font-weight: 700px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: 500;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
    
}
.centner
{
    height: 251px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.zamovutu:hover {
    background-color:#188CE8;

}
h1
{
text-align: center;
flex-basis: 130px;
}
.hide {
    display: none;
}

.accom {
    width: 1170px;
    height: 251px;
    font-size: 14px;
    display: flex;
    justify-content: space-between;

    flex-basis: 1170px;

}

.accom h3 {
    text-transform: uppercase;
    color: var(--gr-color);
}
.accom>li
{

height: 251px;
display: flex;
flex-direction: column;
flex-basis: 251px;

}
.accom>li>div {
    height: 120px;
    width: 270px;
    background-color: #F5F4FA;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.accom>li>h3
{

}
.accom>li>p 
{

}


.worksektion
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.worksektion h2 {

    font-weight: 700;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.worksektion img {
    border-radius: 10px;
}

.perelikrobit
{
    display: flex;
    justify-content: space-between;
    height: 386px;
    width:1170px;
}
.ourteam
{
    background-color: #f5f4fa;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ourteam>ul
{
    display: flex;
    width: 1170px;
    justify-content: space-between;
    
}

.ourteam>ul>li {
background-color: var(--wt-color);
box-shadow: 0px 2px 3px 0.5px var(--bgs-color);
height: 428px;
}
.ourteam h2 {
    font-weight: 700;
    font-size: 36px;
    flex-basis: 90px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;

}

.ourteam .posada {
    font-size: 16px;
    color: var(--sd-color);
        text-align: center;
            width: 100%;
}
.buttonconteiner
{
    display: flex;
}

.namehandle {
    font-weight: 800;
    color: var(--gr-color);
        text-align: center;
            width: 100%;
}

.button-icon {
    fill: var(--bgs-color);
}

.buttonlink {
    height: 44px;
    width: 44px;
    background-color: var(--wt-color);
    border-radius: 40px;
}

.buttonlink:hover {
    background-color: var(--st-color);
}

.buttonlink:hover .button-icon {
    fill: var(--wt-color);
}

.footerdiv {
    width: 100%;
    
    background-color: #2F303A;
    }

footer p {
    font-size: 14px;
    color: var(--wt-color);
}

.footercont {
    font-size: 14px;
    text-decoration: none;
    color: var(--sd-color);
   
}

.logo>span,
.link:hover {
    color: var(--st-color);
    fill: var(--st-color);
}

header .contact,
.accom p {
    color: var(--sd-color);
}

.buttonfuter
{
    background-color: #43444d;
    height: 44px;
    width: 44px;
    border-radius: 40px;
}
.buttonfuter:hover
{
        background-color: var(--st-color);
}
.button-iconf {
    fill:var(--wt-color);
    opacity: 100%;
}

.footertext
{
    color:var(--wt-color);
    font-weight: 500;
    font-size: 14px;

}
.footerholder
{
    background-color: #2F303A;
    height: 50px;
    width: 385px;
    border: solid;
    border-color: var(--sd-color);
    border-radius: 4px;
    border-width: 1px;
}
.footerbutton
{
    height: 50px;
    width: 200px;
    background-color: var(--st-color);
    fill: var(--wt-color);
    color: var(--wt-color);
    font-weight: 600;


    
    font-size: 18px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.75);
}


.footerbutton:hover {
    background-color:#188CE8;
}
.allfooter
{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 252px;
    padding: 0;
    margin: 0;
}
.flogo
{
    color: var(--wt-color)
}

.navholder
{
    margin: 0;
    padding: 0;
}
.footerbutscont
{
    display: flex;
    padding: 0px;
    width: 206px;
    justify-content: space-between;
}
.footerbutscont>li
{

}

.bform
{

}